<!-- Button trigger modal -->
<button *ngIf="showModal" type="button" id="landingButton" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
  <div id="buttonLabel">Click to Begin</div> 
</button> 

<!-- Modal -->
<div class="modal fade in" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Enter Your Name to Get To The Pointing</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <form id="loginForm">
          <div class="form-group">
            <label for="username">Name</label>
            <input name="username" [(ngModel)]="user.username" name="username" type="text" class="form-control" id="username" placeholder="Username" aria-describedby="inputGroupPrepend" required autofocus>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="voting" unchecked="">
            <label class="form-check-label" for="voting">I'm Not Voting :(</label>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="leader" unchecked="">
            <label class="form-check-label" for="leader">I'm the Leader Today!</label>
          </div>
          <button type="submit" class="btn btn-primary submit" (click)="getUserInfo();" data-dismiss="modal">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="userInformation">
  <div class="userHighlights">
    <h1>Hello {{ user.username }}</h1>
    <h3>{{leaderMessage}}</h3>
    <h3>{{votingMessage}}</h3>
  </div>
  
  <div class="allUsersInSession">
  <h2>Users in This Session</h2>
  <h3>Number of People Voting: </h3>
  <h3>Number of People Not Voting: </h3>
  </div>
</div>

<div class="votingInformation">
<div class="votingForm">

</div>
<div class="admin">
  <!--*ngIf="showAdmin" only for showing votes and pressing submit and clear buttons -->
</div>
</div>


<router-outlet></router-outlet>